*,
*::before.
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body
{
  min-height: 100vh;
  background-color: #f8f8f8;
}

.center 
{
  display: grid;
  place-items: center;
}

.safari 
{
  position: relative;
  width: 400px;
  aspect-ratio :1;
  background-color: #fff;
  border-radius: 80px;
  box-shadow: 0 30px 10px #ccc,
    0 30px 30px rgba(0, 0, 0, 0.25), 
    0 28px 0 rgba(0, 0, 0, 0.5), 
    0 50px 60px rgba(0, 0, 0, 0.1);
}

.circle_lines 
{
  position: absolute;
  inset: 35px;
  border-radius: 50%;
  background: linear-gradient(#1ec9ff, #2971e7);
  box-shadow: 0 -5px 0 5px rgba(0,0,0, 0.15),
  inset 0 10px 0 rgba(0, 0, 0, 0.1);
}

.circle_lines > span, 
.circle_lines > span::before
{
  position: absolute;
  width: 2px;
  background-color: #fff;
  transform-origin: 1px 150px;
}

.circle_lines > span 
{
  position: absolute;
  width: 2px;
  background-color: #fff;
  transform-origin: 1px 150px;
  height: 24px;
  transform: translateY(-137.55px) rotate(calc(10deg * var(--i)));
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.15));
}

.circle_lines > span::before
{
  content: '';
  height: 12px;
  transform: rotate(5deg);
}



.niddle
{
  position: absolute;
  width: 36px;
  inset: 50px; 
  transform: translateX(132.25px) rotate(45deg);
  filter: drop-shadow(0 0 4px rgba(0,0,0, 0.25));
  transition: 2s cubic-bezier(0.47, -0.48, 0.46, 1.54);
}

.safari:hover .niddle
{
  transform: translateX(132.25px) rotate(405deg);
}

.niddle::before, 
.niddle::after
{
  content: '';
  position: absolute;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
}

.niddle::before
{
  border-bottom: 150px solid #fb3b2e;
  top: 0px; 
}

.niddle::after
{
  border-top: 150px solid #fff;
  top: 150px;
}


