
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9a9a9;
}


.chart {
  height: 400px;
  width: 400px;
  border: 1px black solid;
  border-radius: 50%;
  background: conic-gradient(
    green 120grad, red 120grad, 210grad, orange 210grad
  );
}
